:root {
 --cor-de-fundo:#2c58af;
--branca: #f0e4e4;
--laranja: #dd7c0d;
--azul-degrade: linear-gradiente(97.54deg.)
--fonte-principal: "poppins";
--azul:#002f52;



}
boddy( 
       background-color: var (--cor-de-fundo)
)